.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*
  css for the log in page
*/
.homePage{
  height: 100vh;
  background-color: beige;
}
.login_div{
  /* width: 100vw; */
  /* height: 100vh; */
  /* width: 100px; */
  padding-top: 40px;


}
.login_form{
  border:groove;
  border-radius: 10px;
  padding: 20px;
  width: 60vw;
  margin: auto;
}
#login_buttons{
  
  padding-top:20px;
  /* padding-left:3%; */
  /* border: solid; */
  /* width: 30vw; */
  margin: auto;
  /* width: 100vw; */
  /* margin: auto; */
  /* height: 100vh; */
  background-color: beige;

}

.divider{
  width: 5px;
  height: auto;
  display: inline-block;

}
.forgotPassword{
  /* color: #0060B6; */
  font-size: 10px;
  text-decoration: none;
}
.forgotPassword:hover 
{
     /* color:#00A0C6;  */
     text-decoration:none; 
     cursor:pointer;  
}

.register_div{
  /* margin-top: 10px; */
  padding-top: 40px;
  /* height: 100%; */
  width: 60vw;
  margin: auto;

}
.register_form{
  /* height: 40%; */
  /* width: 100vw; */
  padding: 20px;
  /* width: 35vw; */
  margin: auto;
  /* padding:-20px; */
  font-size: 2vh;
  border:groove;
  border-radius: 10px;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;

}
#first_group{
  height: 16vh;
  float: left;
  max-width: 20vw;
  margin-right: 5px;
  /* padding-right: 5px; */
}
#second_group{
  float:left;
  /* display: inline-block; */
  /* width: auto; */
  height: 100%;
  max-width: 20vw;
  /* width: 100px; */
  /* height: 50px; */

}

.register_div form input{
  height: 5vh;
  margin-bottom: .5vh;
  /* width: 80%; */
  /* float:right; */
  /* font-size: 5px; */
}

