.App {
  /* text-align: center; */
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*
  css for the log in page
*/
.homePage{
  height: 100vh;
  background-color: beige;
}
.login_div{
  /* width: 100vw; */
  /* height: 100vh; */
  /* width: 100px; */
  padding-top: 40px;


}
.login_form{
  border:groove;
  border-radius: 10px;
  padding: 20px;
  width: 60vw;
  margin: auto;
}
#login_buttons{
  
  padding-top:20px;
  /* padding-left:3%; */
  /* border: solid; */
  /* width: 30vw; */
  margin: auto;
  /* width: 100vw; */
  /* margin: auto; */
  /* height: 100vh; */
  background-color: beige;

}

.divider{
  width: 5px;
  height: auto;
  display: inline-block;

}
.forgotPassword{
  /* color: #0060B6; */
  font-size: 10px;
  text-decoration: none;
}
.forgotPassword:hover 
{
     /* color:#00A0C6;  */
     text-decoration:none; 
     cursor:pointer;  
}

.register_div{
  /* margin-top: 10px; */
  padding-top: 40px;
  /* height: 100%; */
  width: 60vw;
  margin: auto;

}
.register_form{
  /* height: 40%; */
  /* width: 100vw; */
  padding: 20px;
  /* width: 35vw; */
  margin: auto;
  /* padding:-20px; */
  font-size: 2vh;
  border:groove;
  border-radius: 10px;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;

}
#first_group{
  height: 16vh;
  float: left;
  max-width: 20vw;
  margin-right: 5px;
  /* padding-right: 5px; */
}
#second_group{
  float:left;
  /* display: inline-block; */
  /* width: auto; */
  height: 100%;
  max-width: 20vw;
  /* width: 100px; */
  /* height: 50px; */

}

.register_div form input{
  height: 5vh;
  margin-bottom: .5vh;
  /* width: 80%; */
  /* float:right; */
  /* font-size: 5px; */
}

.post-container {
  width: 50%;
  margin: auto;
  margin-top: 1em;
  padding: 1em;
}

.post_url{
  cursor: pointer;
}

.profile-posts{
  margin-bottom: 10px;
}

.reply-content{
  text-indent: 5%;
}

.new-reply{
  width: 80%;
  margin: auto;
}

.main-post-content{
  font-size: 25px;
}

.tags{
  color:#d3d3d3;
  font-style: italic;
}

.hidden{
  display: none;
}
.show span{
  color: #9A0F63;
  /* display:block; */
}
.show li{
  background-color: #64DA59;
  color: #282c34;
  border: 1px solid ;
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 5px;
}

.Threads{
  float:left;
  border-left:solid;
  border-right:solid;
  border-radius: 15px;
  padding:10px;
}

/* Remove default bullets */
.myUL {
  margin: 0;
  padding:0;
  list-style-type: none;
  float:left;
}
.myUL li{
  list-style-type: none;
}
/* Remove margins and padding from the parent ul */
/* #myUL {
  margin: 0;
  padding: 0;
} */

/* Style the caret/arrow */
.caret {
  cursor: pointer; 
  user-select: none;
}

/* Create the caret/arrow with a unicode, and style it */
/* .caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
} */

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
/* .caret-down::before {
  transform: rotate(90deg); 
} */

/* Hide the nested list */
/* .nested {
  display: none;
} */

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
/* .active {
  display: block;
} */